
@font-face {
    font-family: 'GT-Maru-Mono-Regular';
    font-weight: 400;
    font-style: normal;
    src: url("/font/GT-Maru-Mono-Regular.woff2") format('woff2');
  }
  @font-face {
    font-family: 'GT-Maru-Mono-Bold';
    font-weight: 400;
    font-style:normal;
    src: url("/font/GT-Maru-Mono-Bold.woff2") format('woff2');
  }


html, body{
    width: 100%;
    height: 100%;
font-family: 'GT-Maru-Mono-Regular';
margin: 0;
background-color: rgba(255, 255, 255, 0);
}
*{
 
}
.wrapper{
    display: grid;
   
    height: 80vh; 
}



#top-right{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30000;
    margin-top: 2%;
    margin-left: 2%;
    font-weight: 600;
    font-size: 1.3em;
}
.navright{
    
    cursor: pointer;
   
    height: auto;
    width: auto;
    text-align: center;
    display: inline-block;
    /* padding: 1em;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 47%; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.25em;
    border-color: rgba(0, 0, 0, 0.2);
}
.envelope{
    content: '\2709';
}
/* Add a background color to the button if it is clicked on (add the .active class with JS) */
.active,  .navright:after {
 
  }
  .navright:after{
    content: '\2630';
    margin-top: 3%;
  }
  .active::after{
    color: #858585;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {

    display: none;
    overflow: hidden;
    margin-left: 2%;
  }

  .titlerow{
    display:block;
margin: 0 auto;
  }

.content a{
    font-weight: normal;
  
    margin-top: 0.5em;
    line-height: 1.15;
    font-weight: 300;
    /* text-align: center; */
    margin-bottom: 1em;
    text-decoration: none;
    color: #3f3e3e;
font-size: 2em;

user-select: none;
}
main{
    width: 100%;
    height: 100%;
}
#metadata{
    position: absolute;
    top: 0;
    left: 0;
}
.toprow{
display: flex;
flex-direction: row;

}
#gohome{
width: 95%;
margin: 0 auto;
display: block;
text-decoration: none;
color: black;
font-size: 1.5em;
margin-top: 2%;
margin-bottom: 2%;
text-align: center;
height: 4dvh;
}
#mailicon{
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    color: black;
    width: 5%;
}
.fa.fa-envelope-o{
font-size: 1.8em;
}
.regular-content{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
    align-items: center;     /* Centers content horizontally if needed */
    max-height: 100dvh;
    margin-top: -3dvh;   
}
#regular-content{
    display: flex;
    flex-direction: column;
    margin-top: 1% !important;
 margin: 5%;
 overflow-y: none;
    
}
#regular-content #icons{
    width: 100%;
    height: 100%;
}

.icon.grid{
    left: 0 !important; 
    margin-top: -100px !important; 
    position: absolute !important;
    text-align: center !important;
    top: 50% !important;
    width: 100% !important;
}
.workheading{ 
  
   
    margin-top: 1%;
    margin-bottom: 3%;
    font-size: 2em;
    display: inline-block;
}
.subcategory{
    display: inline-block;
    font-weight: 600;
    font-size:0.9em ;
    text-align: center;
    text-decoration: none;
    color: black;
    margin-left: 0.5%;
  
  }
  .subcatactive{
    text-decoration: underline;
  }
  .allcats{
    display: inline;
    font-weight: 300;
    width: 20%;
    top: 1;
    position: absolute;
    text-decoration: none;
    margin-left: 1.5%;
  }
.title{
    display: none;
}
.work-title{
    font-weight: 300;
    text-decoration: none;
    color: black;
}
.subcat{
    font-weight: 300;
font-size:0.7em ;
top: 1;
position: absolute;
margin-left: 0.5%;
}
.grid{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  ;
    gap: 1rem;
}

.grid-item{
    box-sizing: border-box;
    position: relative;
text-align: center;

}

.grid-item a{
    text-decoration: none;
    color: black;
}
.double{
   grid-column: 1/4;
}
.about{
    grid-template-columns: 1fr 1fr !important;
}
nav#home{
    font-size: 2em;
    margin-top: 0.5em;
    line-height: 1.15;
    font-weight: 300;
  
}
nav#home a{
    display: inline-block;
    text-decoration: none;
    color: black;
}
.thumbimage{
    max-width: 15vw;

}
.thumbimage-wrapper {
    position: relative;
    display: inline-block;
}

.post-count {
    position: absolute;
    top: 5px;
    right: 10px;
    color: black;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 1.2em;
    font-weight: bold;
}

.featured-image{
   width: 100%;  
      height: auto;
    transition: filter 0.3s ease;

    filter: drop-shadow(rgb(118, 118, 118)   0.5rem  0.3rem 2px );
}
.imgcontainer{
    position: relative;
    text-align: center;
}

  .Post-title {
    position: absolute; /* Position the title absolutely within the grid-image */
    bottom: 1px; /* Position it at the bottom of the image */
    left: 0;
    width: 100%; /* Make it span the full width */
    text-align: center;

    background-color: rgba(0, 0, 0, 0.5); /* Optional background for readability */
    color: white; /* Text color */
  
    z-index: 10; /* Ensure it displays on top of the image */
    opacity: 0;
    transition: opacity 0.3s ease;
   
  }
  .grid-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    position: relative;/* or a fixed height as per your layout */
  }
  .grid-image:hover .featured-image {
    
  }
  
  .grid-image:hover .Post-title {
    opacity: 1;
  }
.Post-title{



z-index: 999 !important;
}
.grid-image:hover + .Post-title{
    display: block;
}
.single-featured-image{
max-width: 45vw;
max-height: 70vh;
margin: 0 auto;
}
.carousel {
    position: relative;
    max-width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .carousel img {
   height: auto;
    display: none;
   max-width: 30vw;
   
   transition: opacity 0.3s ease-in-out; 
  }
  .featuredimage{
   
 max-width: 28vw;
 
  }
  .carousel img.active {
    display: block;
  }
  .thumbnails-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    -webkit-user-select: none; 
    user-select: none;                        
}

.thumbnails {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.thumbnails img {
    width: 5dvw;
    cursor: pointer;
    opacity: 0.6;
    height: auto;
    transition: opacity 0.3s ease-in-out;
}

.thumbnails img.active {
    opacity: 1;
    border: 1px solid black;
}

.thumbnails img:not(.active) {
    opacity: 0.5;
}

  .image-container.hidden{
    display: none;
  }
  .image-container{
    position: relative;
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .video-container{
    width: 70%;
  }
  .featuredimage{
    height: auto;
    display: block;
  
    max-width: 100%;
  }
  .featuredimage.hidden{
    display: none;
  }
  .post-meta{
    margin: 5%;
    text-align: center;
  }
  .meta-titledate{
    font-family:'GT-Maru-Mono-Bold' ;
  }
  .arrow {
    position: absolute;
    top: 50%; /* Center the arrows vertically */
    font-size: 2rem;
    color: #333;
    border-radius: 50%;
    padding: 10px 10px;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
  }
  .arrow:hover {
    color: #858585;
}
 .left-arrow{

    left: 10px;
    position: relative;
 }
 .right-arrow{

    right: 10px;
    position: relative;
 }
 
.single-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.main-content{
grid-column: 2/4;
grid-column-start: 2;
grid-column-end:4 ; 
display: flex;
flex-wrap: wrap;
  flex-direction: row; /* This ensures the content inside .main-content remains flexible */
    justify-content: center; /* If you want to vertically center the items within .main-content as well */
    align-items: center;
   min-width: 90%;
   margin-left: 5%;
}
.single-title{
    font-weight: 200;
    font-size: 1.5rem;
}
.project-metadata{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4px;
    margin: 3%;
}
#image-block{
    width: 49%;
    float: right;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#description-block{
    width: 50%;
    float: left;

position: relative;
}
#description-block#mobile{
    display: none;
}
.description{
    font-family: 'GT-Maru-Mono-Regular';
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}
.description-mobile{
    display: none;
}
.grey{
    opacity: 0.5;
}
@media only screen and (max-width: 480px) {
    body{
     height: 100dvh;
    }
    .regular-content{
        margin-top: 0px;
        max-height: none;
    }
    .toprow{
        margin: 2%;
    }
    .fa.fa-envelope-o{
        font-size: 25px;
    }
    #mailicon{
width: auto;
margin-right: 2%;
color: black;
    }
    #gohome{
        margin-left: 10%;
    }
     .grid{
         display: grid;
         grid-template-columns: 1fr 1fr !important;
        width: 100%;
        margin: 0;
     }
.about{
    grid-template-columns: 1fr !important;
    margin: 0 auto;
}
.aboutimg{
   margin-left: -5%;
}
     .navright{
        padding-bottom: 0;
     }
     #top-right{
        margin-left: 4%;
        margin-top: 2vh;
     }
     .content{
        margin-left: 4%;
     }
     .content a {
        font-size: 1.5em;
     }

.post-count{
    top: -5px;
    right: 0px;
}

     .allcats{
        width: 50%;
     }
     .subcategory{
        font-size: 0.7em;
     }
     .workheading{ 
        font-size: 1.5rem;
     }
     .project-metadata{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 14px;
        margin: 3%;
     }
     .single-featured-image{
        max-width: 85vw;
        max-height: 65dvh;
        margin: 0 auto;
        }
        .icon.grid{
        margin-top: -155px !important;
        }
        .thumbimage{
            max-width: 30vw;
        }

        .main-content{
            grid-column: 1;
            flex-direction: column;
            margin-left: 0;
        }
        #image-block{
            width: 100%;
        }
        .video-container{
            width: 90%;
        }
        .post-meta{
           
            margin: 0 auto;
            margin-top: 3%;
        }

        .meta-descblurb{
            font-size: 3vw;
        }
        .carousel{
            max-width: 96%;
            margin: 5%;
        }
        .carousel img {
            height: auto;
             display: none;
            max-width: 100%;
            
            transition: opacity 0.3s ease-in-out; 
           }
           .image-container{
         max-width: 96%;
           }
        .thumbnails img{
            width: 12dvw;
        }
        .thumbnails-container{
            margin: 3%;
        }
        .arrow{
            transform: none;
            top: 0;
        }
        #description-block{
            display: none;
        }
        #description-block-mobile{
            width: 100%;
            display: flex;
            position: relative;
            height: auto;
           
        }
        .description-mobile{
width: 82%;
margin: 0 auto;
display: block;
        }

   }