
{{ define "main" }}
{{ partial "navigation.html" .}}
    <div>
        {{ partial "sidebar.html" . }}
    </div>
 
   

  
<div id="regular-content" class="about"> 
  <div class="title"><a href="{{ .RelPermalink }}">{{ .Params.title }}</a> </div>
  <div class="grid about" id="double"> 
 
    <div class="grid-item about">
        <div class="grid-image about ">
         
          <a  href="{{ .Permalink }}">
            <img class="aboutimg" src="{{ .Params.profileimage }}"></a>
        </div>
</div>


<div class="grid-item abouttext">
  <a class="nameandemail">Darin Morrison-Beer</a> <br>
  <p>{{ .Content}} </p>
 <div class="social-links"> 

 <br><br>

 <a href="https://www.instagram.com/darinjmb/" target="_blank" rel="noopener noreferrer">Instagram↗ </a><br>
 <a href="https://www.youtube.com/@darinjmb" target="_blank" rel="noopener noreferrer">YouTube ↗</a><br>
 <a href="https://www.tiktok.com/@darinjmb?_t=8qZyZCvKFEr&_r=1" target="_blank" rel="noopener noreferrer">Tiktok↗</a><br>
 <a href="https://www.are.na/darin-morrison-beer/channels" target="_blank" rel="noopener noreferrer">Are.na↗ </a><br>
 <a href="https://zora.co/darinjmb" target="_blank" rel="noopener noreferrer">Zora↗</a>
 
 <br>
 
  <br><a ><a class="grey">Email:</a>darinjmb@gmail.com </a>

 </div>
</div>
      </div>
      
       
    </div>

    {{ end }}