
{{ define "main" }}
{{ partial "navigation.html" .}}
    <div>
        {{ partial "sidebar.html" . }}
    </div>
 
   

  
<div id="regular-content"> 
  <div class="title"><a href="{{ .RelPermalink }}">{{ .Params.title }}</a> </div>
  <div class="grid about" id="double"> 
  <div class="grid-item">
     <p>{{ .Content}} </p>
    <div class="social-links"> 

    <a href="mail"><a class="grey">Email:</a>darinjmb@gmail.com </a>
  <br><br>
    <a href="https://www.instagram.com/darinjmb/" target="_blank" rel="noopener noreferrer">Instagram </a>
    <a href="https://www.youtube.com/@darinjmb" target="_blank" rel="noopener noreferrer">YouTube </a>
    <a href="https://www.tiktok.com/@darinjmb?_t=8qZyZCvKFEr&_r=1" target="_blank" rel="noopener noreferrer">Tiktok </a>
    <a href="https://www.are.na/darin-morrison-beer/channels" target="_blank" rel="noopener noreferrer">Are.na </a>
    <a href="https://zora.co/darinjmb" target="_blank" rel="noopener noreferrer">Zora</a>
    
    
    </div>
</div>
    <div class="grid-item">
        <div class="grid-image ">
         
          <a  href="{{ .Permalink }}">
            <img class="aboutimg" src="{{ .Params.profileimage }}"></a>
        </div>
</div>

      </div>
      
       
    </div>

    {{ end }}