<!DOCTYPE html>
<html lang="en" charset="utf-8">
<head>
	<link rel="stylesheet" href="/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</head>
<body>
	<a href="/" id="gohome"> djmb</a>
	{{ block "main" . }}
	{{ end }}
	<script src="/js/custom.js" async defer></script>
	<script>
		if (window.netlifyIdentity) {
		  window.netlifyIdentity.on("init", (user) => {
			if (!user) {
			  window.netlifyIdentity.on("login", () => {
				document.location.href = "/admin/";
			  });
			}
		  });
		}
	  </script>
</body>
</html>