{{ define "main" }}

{{ partial "navigation.html" . }}

<div id="regular-content icons">

  <div class="icon grid">
    {{ $currentPage := . }}
    {{ $allPosts := .Site.RegularPages }}
    
    {{ range where (where .Site.Pages "Type" "subcategory") "Section" .Section }}
    <div class="grid-item">
      {{ $subsection := . }} <!-- Current subsection -->
      
      <!-- Filter all posts by the current subsection and type 'content' (lowercase) -->
      {{ $filteredPosts := where $allPosts "Section" $subsection.Section }}
      {{ $contentPosts := where $filteredPosts "type" "content" }}
      {{ $postCount := len $contentPosts }}
      
      <a class="subcategory {{ if .Section }} {{else}} subcatactive {{end}}" href="{{ .Permalink }}">
        <div class="thumbimage-wrapper">
          <img class="thumbimage" src="{{ .Params.thumbimage }}">
          <div class="post-count">{{ $postCount }}</div>
        </div>
        <br> {{ .Title }}
      </a>
    </div>
    {{ end }}
  </div>

</div>

{{ end }}
