{{ define "main" }}

{{ partial "navigation.html" . }}

<div id="regular-content">
  <div class="icon grid">

    {{ $allPosts := .Site.RegularPages }}
    

    
    {{ range where (where .Site.Pages "Type" "subcategory") "Section" .Section }}
    <div class="grid-item drawnicon">
      {{ $subsection := . }} <!-- Current subsection -->
      
      <!-- Extract the base of the subsection's permalink -->
      {{ $subsectionBase := path.Base $subsection.RelPermalink }}

      <!-- Filter posts that belong to the current subsection's section (e.g., "bird") -->
      {{ $contentPosts := where $allPosts ".Params.contentdesc" $subsectionBase }}
      {{ $postCount := len $contentPosts }}
 <!-- <a> {{$contentPosts}}</a>
     TESTING: Output the post count and section title 
      <a> {{ $subsectionBase }} (Post Count: {{ $postCount }})</a>-->
      <a class="subcategory {{ if .Section }} {{else}} subcatactive {{end}}" href="{{ .Permalink }}">
       
       
       
        <div class="thumbimage-wrapper">
          {{ $image := .Params.thumbImage }}
       
          {{ $imageResource := resources.Get $image }}
          {{ if $imageResource }}
               {{ $small := $imageResource.Fit "120x120" }}
               {{ $large := $imageResource.Fit "200x200" }}

      <img class="thumbimage" src="{{ $large.Permalink }}"
           srcset="{{ $small.Permalink }} 120w,
                   {{ $large.Permalink }} 200w"
           sizes="(max-width: 600px) 120px,
                  200px"
           alt="{{ .Title }}">
  {{ end }}

         <!-- <img class="thumbimage" src="{{ .Params.thumbimage }}"> -->

          
          <div class="post-count">{{ $postCount }}</div>
        </div>
        <br> {{ .Title }}
      </a>
      
    </div>
    {{ end }}
  </div>
</div>

{{ end }}

