{{ define "main" }}

{{ partial "navigation.html" . }}

<div id="regular-content" class="regular-content-mobile">
  <div class="icon grid">

    {{ $allPosts := .Site.RegularPages }}
    

    
    {{ range where (where .Site.Pages "Type" "subcategory") "Section" .Section }}
    <div class="grid-item drawnicon">
      {{ $subsection := . }} <!-- Current subsection -->
      
      <!-- Extract the base of the subsection's permalink -->
      {{ $subsectionBase := path.Base $subsection.RelPermalink }}

      <!-- Filter posts that belong to the current subsection's section (e.g., "bird") -->
      {{ $contentPosts := where $allPosts ".Params.contentdesc" $subsectionBase }}
      {{ $postCount := len $contentPosts }}
 <!-- <a> {{$contentPosts}}</a>
     TESTING: Output the post count and section title 
      <a> {{ $subsectionBase }} (Post Count: {{ $postCount }})</a>-->
      <a class="subcategory {{ if .Section }} {{else}} subcatactive {{end}}" href="{{ .Permalink }}">
       
       
       
        <div class="thumbimage-wrapper">
          {{ $image := .Params.thumbImage }}
       
          {{ $imageResource := resources.Get $image }}
          {{ if $imageResource }}
               

      <img class="thumbimage" src="{{ $imageResource.Permalink }}"
           sizes="(max-width: 600px) "
           alt="{{ .Title }}">
  {{ end }}

         <!-- <img class="thumbimage" src="{{ .Params.thumbimage }}"> -->

          
          <div class="post-count">{{ $postCount }}</div>
        </div>
        <br> {{ .Title }}
      </a>
      
    </div>
    {{ end }}
  </div>
</div>

{{ end }}

