
{{ define "main" }}
{{ partial "navigation.html" .}}
   
<div id="regular-content">

  <div class="Titlerow"> 
    <h1 class="workheading"><a class="work-title"> {{ .Params.Title}} </A> </h1>
     <div class="allcats"> 
   
      {{ range where ( where .Site.Pages "Type" "subcategory") "Section" .Section }} 
      <A class="subcategory" href="{{ .Permalink }}">{{ .Title}} </A>
      
   
      {{end}}
   </div>
  </div>
<div class="grid">
   {{ range (where .Site.RegularPages "Section" .Section ) }}
  <div class="grid-item">
    
    <div class="grid-image">
      <a  href="{{ .Permalink }}">
  
          <img class="featured-image" src='{{.Params.FeaturedImage}}'> 
       
       
      </a>
    </div>
      <div class="Post-title">{{ .Params.Title}} </div>
  </div>
 {{ end }}
</div>
{{ range (where .Site.RegularPages "CurrentSection.Path" .CurrentSection.Path ) }}
<h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
{{ .CurrentSection.Path }}
{{ .CurrentSection.Title }}
{{ .CurrentSection.File.Dir }}
etc.
{{ end }}
</div>


{{ end }}

