{{ define "main" }}

{{ partial "navigation.html" . }}
<div id="regular-content">

<div class="grid workgrid">

  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "content") 15 }}
  {{ range $paginator.Pages }}
  <div class="grid-item workblock">
  <div class="grid-image">
    <a class="imgcontainer" href="{{ .Permalink }}">

     <img class="featured-image" src='{{.Params.FeaturedImage}}'> 
     <div class="Post-title">{{ .Params.Title }} </div>
     
    </a>

  </div>
       
    <a href="{{ .Permalink }}">
      <div class="title">{{ .Title }}  </div>
    </a>
  </div>
  {{ end }}
  
</div>

<!-- Pagination controls -->
<div class="pagination">
  {{ if gt $paginator.TotalPages 1 }}
    <div class="page-arrows">
      {{ if $paginator.HasPrev }}
        <a href="{{ $paginator.Prev.URL }}" class="prev">←</a>
      {{ end }}

      {{ range $paginator.Pagers }}
        <a href="{{ .URL }}" class="{{ if eq .PageNumber $paginator.PageNumber }}active{{ end }}">{{ .PageNumber }}</a>
      {{ end }}

      {{ if $paginator.HasNext }}
        <a href="{{ $paginator.Next.URL }}" class="next">→</a>
      {{ end }}
    </div>
  {{ end }}
</div>

</div>

{{ end }}
