{{ define "main" }}
{{ partial "navigation.html" .}}

    <div class="regular-content">
        <div id="metadata"></div>

        <div class="main-content">
            <div id="description-block">
                <div class="description">
                    {{ .Content }}
                </div>
            </div>

            <div id="image-block">
                {{ if not .Params.video }}  <!-- Check if video is not present -->
                    {{ partial "imagecarousel.html" . }}
                {{ end }}

                {{ if .Params.video }}  <!-- Render video if present -->
                    <div class="video-container">
                        {{ .Params.video | safeHTML }}
                    </div>
                {{ end }}
            </div>

            <div id="description-block-mobile">
                <div class="description-mobile">
                    {{ .Content }}
                </div>
            </div>
        </div>
        <div class="empty"></div>
    </div>

{{ end }}
