
{{ define "main" }}
{{ partial "navigation.html" .}}
    
<div id="regular-content">
  
  <div class="Titlerow"> 
    <h1 class="workheading"><a class="work-title">{{ .Title }}</a></h1>
    <div class="allcats">
        {{ $currentPage := . }}
        {{ range where (where .Site.Pages "Type" "subcategory") "Section" .Section }}
            {{ if ne .Permalink $currentPage.Permalink }}
                <a class="subcategory {{ if .Section }}{{ else }}subcatactive{{ end }}" href="{{ .Permalink }}">{{ .Title }}</a>
            {{ end }}
        {{ end }}
    </div>
</div>
<div class="grid">
  

    {{ range (where .Site.RegularPages "CurrentSection.Path" .CurrentSection.Path ) }}
  <div class="grid-item">
    
    <a href="{{ .Permalink }}">
    
        <img class="featured-image" src='{{.Params.FeaturedImage}}'> 
      
    </a>
    <a href="{{ .Permalink }}">
      <div class="title">{{ .Title }}  </div>
    </a>
  </div>
 {{ end }}
</div>
</div>


{{ end }}

