
{{ define "main" }}
{{ partial "navigation.html" .}}
    
<div id="regular-content">
  
  <div class="Titlerow"> 
    <h1 class="workheading"><a class="work-title">{{ .Title }}</a></h1>
    <div class="allcats">
        {{ $currentPage := . }}
        {{ range where (where .Site.Pages "Type" "subcategory") "Section" .Section }}
            {{ if ne .Permalink $currentPage.Permalink }}
                <a class="subcategory {{ if .Section }}{{ else }}subcatactive{{ end }}" href="{{ .Permalink }}">{{ .Title }}</a>
            {{ end }}
        {{ end }}
    </div>
</div>
<div class="grid">
  {{ $paginator := .Paginate (where .Site.RegularPages "CurrentSection.Path" .CurrentSection.Path) 15 }}
  {{ range $paginator.Pages }}
 <div class="grid-item workblock">

      <div class="grid-image">

        
        <a  href="{{ .Permalink }}">
    

          {{ $image := .Params.FeaturedImage }}
       
          {{ $imageResource := resources.Get $image }}
          {{ if $imageResource }}
               {{ $small := $imageResource.Resize "160x" }}
               {{ $large := $imageResource.Resize "220x" }}
    
      <img class="featured-image" src="{{ $large.Permalink }}"
           srcset="{{ $small.Permalink }} 160w,
                   {{ $large.Permalink }} 220w"
           sizes="(max-width: 600px) 150px,
                  220px"
           alt="{{ .Params.Title }}">
          
    {{ end }}
    

         <!--   <img class="featured-image" src='{{.Params.FeaturedImage}}'> -->
         <div class="Post-title">{{ .Params.Title}} </div>
          <p>{{ $large.Permalink }}</p>
        </a>
    
      </div>
           
        <a href="{{ .Permalink }}">
          <div class="title">{{ .Title }}  </div>
        </a>
      </div>


 {{ end }}
</div>

<!-- Pagination controls -->
<div class="pagination">
  {{ if gt $paginator.TotalPages 1 }}
    <div class="page-arrows">
      {{ if $paginator.HasPrev }}
        <a href="{{ $paginator.Prev.URL }}" class="prev">← Previous</a>
      {{ end }}

      {{ range $paginator.Pagers }}
        <a href="{{ .URL }}" class="{{ if eq .PageNumber $paginator.PageNumber }}active{{ end }}">{{ .PageNumber }}</a>
      {{ end }}

      {{ if $paginator.HasNext }}
        <a href="{{ $paginator.Next.URL }}" class="next">Next →</a>
      {{ end }}
    </div>
  {{ end }}
</div>

</div>


{{ end }}

