

{{ define "main" }}

{{ partial "navigation.html" . }}
<div id="regular-content" class="regular-content-mobile">
  <div class="icon grid">
    <div class="grid-item drawnicon">
     
        <a href="https://dmb.world" target="_blank" rel="noopener noreferrer" class="subcategory">
            <div class="thumbimage-wrapper">
                <img class="thumbimage" src="/image/sHOP_ICON.png">
                <div class="post-count"></div>
            </div>
            <br>Shop
        </a>
        <br>
    </div>
      {{ $allPosts := .Site.RegularPages }} <!-- Get all posts -->
      {{ range (where .Site.Pages "Type" "category") }}
      <div class="grid-item drawnicon">
          {{ $postCount := 0 }}
          {{ if eq .Title "Recent" }}   
              {{ $postCount = len (where $allPosts "Type" "content") }} <!-- Count all posts if it's the Recent section -->
          {{ else }}
              {{ $postCount = len (where $allPosts "Section" .Section) }} <!-- Count posts in the specific section -->
          {{ end }}
          <a href="{{ .Permalink }}" class="subcategory">
              <div class="thumbimage-wrapper">
                  
        {{ $image := .Params.thumbImage }}
       
            {{ $imageResource := resources.Get $image }}
            {{ if $imageResource }}
               

        <img class="thumbimage" src="{{ $imageResource.Permalink }}"
             sizes="(max-width: 600px)"
             alt="{{ .Title }}">
    {{ end }}


                <!-- Count posts in the specific section 
                <img  src="{{ .Params.thumbImage }}">-->
                  <div class="post-count">{{ $postCount }}</div>
              </div>
              <br>{{ .Title }}
          </a>
          <br>
      </div>
      {{ end }}

      <div class="grid-item drawnicon">
     
        <a href="mailto:someone@example.com" target="_blank" rel="noopener noreferrer" class="subcategory">
            <div class="thumbimage-wrapper">
                <img class="thumbimage" src="/image/iconsforwebsite/mail_icon.png">
                <div class="post-count"></div>
            </div>
            <br>
        </a>
        <br>
    </div>

  </div>
</div>

{{ end }}