

{{ define "main" }}

{{ partial "navigation.html" . }}
<div id="regular-content icons">
  <div class="icon grid">
      {{ $allPosts := .Site.RegularPages }} <!-- Get all posts -->
      {{ range (where .Site.Pages "Type" "category") }}
      <div class="grid-item">
          {{ $postCount := 0 }}
          {{ if eq .Title "Recent" }}   
              {{ $postCount = len (where $allPosts "Type" "content") }} <!-- Count all posts if it's the Recent section -->
          {{ else }}
              {{ $postCount = len (where $allPosts "Section" .Section) }} <!-- Count posts in the specific section -->
          {{ end }}
          <a href="{{ .Permalink }}" class="subcategory">
              <div class="thumbimage-wrapper">
                  <img class="thumbimage" src="{{ .Params.thumbImage }}">
                  <div class="post-count">{{ $postCount }}</div>
              </div>
              <br>{{ .Title }}
          </a>
          <br>
      </div>
      {{ end }}
      <div class="grid-item">
     
        <a href="https://admin.shopify.com/store/715b5c/themes" target="_blank" rel="noopener noreferrer"vv class="subcategory">
            <div class="thumbimage-wrapper">
                <img class="thumbimage" src="/image/sHOP_ICON.png">
                <div class="post-count">$</div>
            </div>
            <br>Shop
        </a>
        <br>
    </div>
  </div>
</div>

{{ end }}